<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Erro 404 - Desempregados</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <%- include('partials/header') %>
  <main class="main">
    <div class="error">
      <h1 class="title">Erro 404</h1>
      <p class="message">O post solicitado não foi encontrado.</p>
      <p class="message">Por favor, tente novamente ou volte para a <a href="/">página inicial</a>.</p>
    </div>
  </main>
  <%- include('partials/footer') %>
</body>
</html>